/* Espaciado para que el contenido no pegue con el menú */
.container {
    padding-bottom: 50px;
}

/* Estilo para el link activo del menú */
.navbar-nav .nav-link.active {
    color: #fff !important;
    font-weight: bold;
    border-bottom: 2px solid #0d6efd; /* Subrayado azul */
}

.navbar-brand {
    font-weight: bold;
    letter-spacing: 1px;
}