<div class="row">
    <div class="col-md-8">
        <h2>Listado de Productos</h2>
        
        <input [(ngModel)]="searchTerm" (input)="filter()" class="form-control mb-3 shadow-sm" placeholder="Buscar por nombre o SKU...">
        
        <div class="table-responsive">
            <table class="table table-striped table-bordered shadow-sm">
                <thead class="table-dark">
                    <tr>
                        <th>SKU</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Stock</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of filteredProducts">
                        <td><strong>{{p.sku}}</strong></td>
                        <td>{{p.name}}</td>
                        <td>{{p.price | currency}}</td>
                        <td [ngClass]="{'text-danger fw-bold': p.stock < 5, 'text-success fw-bold': p.stock >= 5}">
                            {{p.stock}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-4 shadow-sm">
            <h4 class="text-primary text-center mb-3">Nuevo Producto</h4>
            
            <label class="form-label small text-muted">Nombre del Producto</label>
            <input [(ngModel)]="newProduct.name" class="form-control mb-2" placeholder="Ej: Laptop HP">
            
            <label class="form-label small text-muted">Código Único (SKU)</label>
            <input [(ngModel)]="newProduct.sku" class="form-control mb-2" placeholder="Ej: LP-001">
            
            <div class="row">
                <div class="col-6">
                    <label class="form-label small text-muted">Precio</label>
                    <input [(ngModel)]="newProduct.price" type="number" class="form-control mb-2" placeholder="0.00">
                </div>
                <div class="col-6">
                    <label class="form-label small text-muted">Stock Inicial</label>
                    <input [(ngModel)]="newProduct.stock" type="number" class="form-control mb-2" placeholder="0">
                </div>
            </div>

            <button (click)="saveProduct()" class="btn btn-primary w-100 mt-3">
                <i class="bi bi-save"></i> Guardar Producto
            </button>
        </div>
    </div>
</div>